body {
  --bg-col: hsl(0, 0%, 98%);
  --bg-path: url('../images/bg-mobile-light.jpg');
  --switch-path: url('../images/icon-moon.svg');
  --card-bg: #fff;
  --input-col: #000;
  --tool-text: hsl(236, 9%, 61%);
  --checkbox-col: hsl(236, 33%, 92%);
}

body.dark {
  --bg-col: hsl(235, 21%, 11%);
  --bg-path: url('../images/bg-mobile-dark.jpg');
  --switch-path: url('../images/icon-sun.svg');
  --card-bg: hsl(235, 24%, 19%);
  --input-col: #fff;
  --tool-text: hsl(234, 11%, 52%);
  --checkbox-col: hsl(233, 14%, 35%);
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-col: hsl(235, 21%, 11%);
    --bg-path: url('../images/bg-mobile-dark.jpg');
    --switch-path: url('../images/icon-sun.svg');
    --card-bg: hsl(235, 24%, 19%);
    --tool-text: hsl(234, 11%, 52%);
    --checkbox-col: hsl(233, 14%, 35%);
  }

  body.light {
    --bg-col: hsl(0, 0%, 98%);
    --bg-path: url('../images/bg-mobile-light.jpg');
    --switch-path: url('../images/icon-moon.svg');
    --card-bg: #fff;
    --tool-text: hsl(236, 9%, 61%);
    --checkbox-col: hsl(236, 33%, 92%);
  }
}

@media screen and (min-width: 870px) and (prefers-color-scheme:dark)  {
  body {
    --bg-path: url('../images/bg-desktop-dark.jpg')!important;
  }

  body.light {
    --bg-path: url('../images/bg-desktop-light.jpg')!important;
  }
}

@media screen and (min-width: 870px) {
  body {
    --bg-path: url('../images/bg-desktop-light.jpg');
  }

  body.dark {
    --bg-path: url('../images/bg-desktop-dark.jpg');
  }
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  background: var(--bg-col);
  background-image: var(--bg-path);
  background-repeat: no-repeat;
  background-size: contain;
}

.main__app {
  margin-top: 45px;
  width: 350px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 32px;
  justify-items: center;
  align-items: center;
}

.todo__head {
  width: 305px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  color: #fff;
  letter-spacing: 10px;
  font-weight: bold;
  text-align: left;
}

.mode__switch {
  background: transparent;
  outline: none;
  border: none;
}

.mode__switch div {
  width: 18px;
  height: 18px;
  background: transparent;
  background-image: var(--switch-path);
  background-size: 18px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
}

.app {
  width: 305px;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 8px;
  justify-items: center;
  font-size: 11px;
}

.card {
  width: 260px;
  height: 22px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  background-color: var(--card-bg);
  border-radius: 5px;
  padding: 12px 17px;
  color: var(--text);
}

.create.card {
  color: var(--tool-text);
}

.create__input {
  background: transparent;
  border: none;
  width: 225px;
  color: var(--input-col);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  margin: auto;
  margin-left: 30px;
}

.create__input:focus {
  outline: none;
}

.create__input::placeholder {
  color: var(--tool-text);
  opacity: 1;
}

.checkit {
  display: block;
  position: absolute;
  margin-top: 5.5px;
}

.checkit input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 4.5px 10.3px;
  border-radius: 20px;
  border: 0.5px solid var(--checkbox-col);
  margin-right: 5px;
}