body {
  --bg-col: hsl(0, 0%, 98%);
  --bg-path: url('../images/bg-mobile-light.jpg');
  --switch-path: url('../images/icon-moon.svg');
}

body.dark {
  --bg-col: hsl(235, 21%, 11%);
  --bg-path: url('../images/bg-mobile-dark.jpg');
  --switch-path: url('../images/icon-sun.svg');
}

@media (prefers-color-scheme: dark) {
  body {
  --bg-col: hsl(235, 21%, 11%);
  --bg-path: url('../images/bg-mobile-dark.jpg');
  --switch-path: url('../images/icon-sun.svg');
  }

  body.light {
  --bg-col: hsl(0, 0%, 98%);
  --bg-path: url('../images/bg-mobile-light.jpg');
  --switch-path: url('../images/icon-moon.svg');
  }
}

@media screen and (min-width: 980px) and (prefers-color-scheme:dark)  {
  body {
  --bg-path: url('../images/bg-desktop-dark.jpg')!important;
  }

  body.light {
  --bg-path: url('../images/bg-desktop-light.jpg')!important;
  }
}

@media screen and (min-width: 980px) {
  body {
  --bg-path: url('../images/bg-desktop-light.jpg');
  }

  body.dark {
  --bg-path: url('../images/bg-desktop-dark.jpg');
  }
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  background: var(--bg-col);
  background-image: var(--bg-path);
  background-repeat: no-repeat;
  background-size: contain;
}

.todo__head {
  width: 85%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  color: #fff;
  letter-spacing: 10px;
  font-weight: bold;
  text-align: left;
}

.mode__switch {
  background: transparent;
  outline: none;
  border: none;
}

.mode__switch div {
  width: 18px;
  height: 18px;
  background: transparent;
  background-image: var(--switch-path);
  background-size: 18px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
}

